<!-- wp:template-part {"slug":"header","theme":"cinderwell-starter"} /-->

<!-- wp:group {"tagName":"main","className":"site-main cinderwell-single-post","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main cinderwell-single-post"><!-- wp:cinderwell/page-header {"align":"full"} /-->

<!-- wp:group {"className":"cinderwell-single-post__body","layout":{"type":"constrained"}} -->
<div class="wp-block-group cinderwell-single-post__body"><!-- wp:group {"className":"cinderwell-single-post__meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group cinderwell-single-post__meta"><!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cinderwell-starter"} /-->
