<!-- wp:template-part {"slug":"header","theme":"cinderwell-starter"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main" style="padding-top:3rem;padding-bottom:3rem"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-date /-->

<!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:post-terms {"term":"category"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cinderwell-starter"} /-->
